@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #E9E9E9;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Laila", serif;
}

p {
    font-family: "Roboto", sans-serif;
}

.page-wrapper {
    max-width: 1000px;
    border: 1px solid black;
    margin: 0 auto;
    background-color: white;
}

header {
    background-color: blueviolet;
    color: #fff;
    font-size: 2.5rem;
    padding: 1rem;
}

header > h1 {
    text-align: center;
}

section {
    padding: 1rem;
}

section > article {
    border: 1px solid black;
    padding: 1rem;
    margin-bottom: 1rem;
}
section > article:nth-child(1) {
    background-color: rgb(176, 247, 223);
}
section > article:nth-child(2) {
    background-color: rgb(225, 244, 144);
}
section > article:nth-child(3) {
    background-color: rgb(249, 172, 238);
}

section > article:last-child {
    margin: 0;
}

section > article > * {
    margin-bottom: 0.5rem;
}

section > article > *:last-child {
    margin: 0;
}

section > article > img {
    width: 100%;
    aspect-ratio: 5 / 3;
}

footer {
    background-color: rgb(184, 0, 0);
    padding: 1rem;
}

footer > p {
    font-size: 1.5rem;
    text-align: right;
    color: white;
}

